<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{system/base/layout}">
<div layout:fragment="content">

    <div class="container" style="width: 1400px">
        <h1>日记评论</h1>
        <div class="row clearfix">
            <form name="search-form" class="form-inline m-b-10 clearfix" th:action="@{/diary/diaryCommentListUI}"
                  id="search-form">
            </form>
            <!--<div align="right" style="float:right">
                <button type="button" onclick="reset()" class="btn btn-default btn-warning">增加</button>
            </div>-->
            <div class="col-md-12 column">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th width="150px">编号</th>
                        <th width="300px">日记标题</th>
                        <th width="300px">评论内容</th>
                        <th width="300px">发布日期</th>
                        <th width="300px">发布人</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="diary:${page.content}">
                        <td th:text="${diary.id}"></td>
                        <td th:text="${diary.travelDiary.title}"></td>
                        <td th:text="${diary.content}"></td>
                        <td th:text="${diary.addDate}"></td>
                        <td th:text="${diary.user.username}"></td>
                        <td>
                            <div align="left" style="float:left">
                                <button type="button" th:onclick="deleteDiaryComment([[${diary.id}]])" class="btn btn-default btn-danger">删除</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:insert="~{base/pageable}"></div>
        <!--弹框-->
        <div class="modal fade" id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" name="insertMember"
                              id="insertMember" class="form-horizontal">
                            <!--隐藏的-->
                            <input type="text" id="id" name="sId" hidden>

                            <div id="usernameDiv" class="form-group m-b-10" style="text-align:right">
                                <label class="col-sm-4 control-label">
                                    <label style="color: red">*</label>标题:
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                            </div>
                            <div class="form-group m-b-10" style="text-align:right">
                                <label class="col-sm-4 control-label">
                                    描述:
                                </label>
                                <div class="col-sm-7">
                                <textarea type="text" rows="7" cols="20" class="form-control" id="content"
                                          name="content">
                                </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                        <button type="button" class="btn btn-info" onclick="saveForm()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function reset() {
            //全部清空
            $('#exampleModalLabel').text('新增');
            $('#id,#title').val('');
            //显示模态框
            $('#exampleModal').modal('show')
        }

        function saveForm() {
            var title = $('#title').val();
            var content = $('#content').val();
            if ($.trim(title) === '') {
                layer.msg("标题不能为空");
                return;
            }
            $.ajax({
                url: '/travel/guangzhou/save',
                data: $("#insertMember").serialize(),
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    if (result.code === 200) {
                        window.location.href = "/travel/guangzhou/guangzhouListUI";
                    } else {
                        layer.open({
                            title: '错误提示',
                            content: result.message
                        });
                    }
                }
            })
        }

        function deleteDiaryComment(id) {
            if(confirm("确认要删除吗？删除后不可恢复")){
                $.ajax({
                    url: '/diary/delete',
                    data: {"id": id},
                    type: 'post',
                    dataType: 'json',
                    success: function (result) {
                        if (result.code === 200) {
                            alert("删除成功？");
                            window.location.reload();
                        } else {
                            layer.open({
                                title: '错误提示',
                                content: result.message
                            });
                        }
                    }
                })
            }
        }

        function updateTangShan(id) {
            $.ajax({
                url: '/travel/tangshan/findById',
                data: {"id": id},
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    if (result.code == 200) {
                        var tangshan = result.data;
                        //全部清空
                        $('#exampleModalLabel').text('修改');
                        $('#id').val(tangshan.id);
                        $('#title').val(tangshan.title);
                        $('#content').val(tangshan.content);
                        //显示模态框
                        $('#exampleModal').modal('show')
                    }
                }
            });
        }
    </script>
</div>
</html>
